@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="text-center">
        <h1>Welcome to School Notification System</h1>
        <p class="lead">Please login to continue</p>
        <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Go to Login</a>
    </div>
</div>